[submodule "vim/pack/my-plugins/start/neocomplete"]
	path = vim/pack/my-plugins/start/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "vim/pack/my-plugins/start/vim-surround"]
	path = vim/pack/my-plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/my-plugins/start/syntastic"]
	path = vim/pack/my-plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/pack/my-plugins/start/auto-pairs"]
	path = vim/pack/my-plugins/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim/pack/my-plugins/start/vim-airline"]
	path = vim/pack/my-plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/my-plugins/start/ctrlp.vim"]
	path = vim/pack/my-plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
